NUXT_FIREBASE_ADMIN_PROJECT_ID=
NUXT_FIREBASE_ADMIN_CLIENT_EMAIL=
NUXT_FIREBASE_ADMIN_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY\n-----END PRIVATE KEY-----\n"
NUXT_PG_CONNECTION_STRING="postgresql://postgres:password@localhost:5432/postgres"
