@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
	--color-primary: #F2689B;
	--color-secondary: #F9A8D4;
	--color-tertiary: #d3d3d3;
	--color-background: #FFFFFF;
	--color-surface: #FFFFFF;
	--color-border: #f3f4f6;
	--text-main: #1f2937;
	--text-muted: #4b5563;
	--text-light: #9ca3af;
	--active-color: #F2689B;
	--font-khmer-body: 'Noto Sans Khmer', sans-serif;
	--font-khmer-display: 'Noto Serif Khmer', serif;
}

.dark {
	--color-background: #0f172a;
	--color-surface: #1e293b;
	--color-border: #334155;
	--text-main: #f8fafc;
	--text-muted: #cbd5e1;
	--text-light: #94a3b8;
}

body {
	background-color: var(--color-background);
	color: var(--text-main);
	font-family: var(--font-khmer-body);
	transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
